<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>House List</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="angular.min.js"></script>
  <script type="text/javascript" src="houses.js"></script>
  <script type="text/javascript" src="controller.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<!-- Main List Page -->
<body ng-controller="myController">
  <div id="intro-page-wrapper">
    <div id="intro-page">
      <h1>Oliver's House List</h1>
      <h2>Technologies: HTML/CSS/Bootstrap/Javascript/jQuery/AngularJS</h2>
      <p>This project generates a list of houses utilizing AngularJS.  There are several functions integrated within the project, giving users the option to edit, add, and remove houses on the list. In addition, users are able to search for specific houses by inserting the name of the house they wish to see.</p>
        <button id="intro-button" onclick="viewProject()">View Project</button>
    </div>
  </div>
	<div class="container-fluid">
    <h1>My Houses List (with AngularJS)</h1>
    <div id="wrapper" ng-show="view=='list'">
      <div class="row">
        <div class="col-sm-5">
          <button class="btn btn-primary btn-lg" ng-click="addHouse()">Add New House</button>
          
        </div>
        <div class="col-sm-4 col-sm-offset-3">
          <input class="form-control input-lg" placeholder="search..." type="text" ng-model="searchHouses">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="house in houses | filter:searchHouses">
          <h3>{{house.name}}</h3>
          <p><img src="{{house.image}}" width="300px" height="200px"></p>
          <h4>{{house.address}}, <br/>{{house.city}}, {{house.state}} {{house.zip}}</h4>
          <h4>{{house.saleStatus}}</h4>
          <h4>${{house.listPrice}}</h4>
          <h4>Zestimate&#174: ${{house.zEstimate}}</h4>
          <h4>{{house.deal}}</h4>
          <h4>Estimated Mortgage: ${{house.mortgage}}/mo</h4>
          <button class="btn btn-warning btn-sm" val='{{$index}}' ng-click="editHouse()">Edit</button>
          <button class="btn btn-danger btn-sm" val='{{$index}}' ng-click="deleteHouse()">Delete</button> 
        </div> 
      </div> 
    </div>


    <!-- Add House Page -->
    <div class="container" ng-show="view =='add'">
      <div class="title col-sm-12">
        <h2>My Dream Houses</h2>
      </div>
      <div class="title2 col-sm-12">
        <h3>Specify the details of the house:</h3>
      </div>
      <div class="input-group col-sm-12">
      <input type="text" class="form-control new-house" id="house-name" placeholder="House Name">
        <input type="text" class="form-control new-house" id="photo-url" placeholder="Photo URL">
        <input type="text" class="form-control new-house" id="address" placeholder="Address">
        <input type="text" class="form-control new-house" id="city" placeholder="City">
        <input type="text" class="form-control new-house" id="state" placeholder="State">
        <input type="text" class="form-control new-house" id="zip" placeholder="Zip Code">
        <input type="text" class="form-control new-house" id="sale-status" placeholder="For Sale/NOT for Sale">
        <input type="text" class="form-control new-house" id="price" placeholder="Price">
        <input type="text" class="form-control new-house" id="zestimate" placeholder="Zestimate">
        <input type="text" class="form-control new-house" id="deal-quality" placeholder="Deal Quality">
        <input type="text" class="form-control new-house" id="mortgage" placeholder="Estimated Mortgage">
        <button class="btn btn-success btn-xl" ng-click="confirmAddHouse()">Add</button>
        <button class="btn btn-warning btn-xl" ng-click="listView()">Cancel</button>
      </div> 
    </div>

    <!-- Edit Page -->
    <div ng-show="view == 'edit'">
      <h3>Edit the name of the house:</h3>
      <input class="form-control input-lg" id="update-name" placeholder="new name..." type="text">
      <button class="btn btn-success btn-sm" ng-click="updateName()">Save</button>
      <button class="btn btn-danger btn-sm" ng-click="listView()">Cancel</button>
    </div>

    <!--Delete Page  -->
    <div ng-show="view == 'delete'">
      <h3> Confirm Delete</h3>
      <p><img src="{{url}}" width="300px" height="200px"></p>
      <p> Are you sure you want to delete this house: {{name}}? </p>
      <button class="btn btn-warning btn-sm" ng-click = "view = 'list'"> No </button>
      <button class="btn btn-danger btn-sm" ng-click="removeHouse()"> Yes </button>
    </div>
  </body>
